.cartContainer {
    display: flex;
    color: white !important;
}

.cartBadge {
    font-size: 0.7em;
    font-weight: bolder;
    background-color: tomato;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    position: absolute;
    right: 5px;
}