.cartContainer {
    display: flex;
    color: white !important;
    text-align: center;
}

.cartBadge {
    font-size: 0.7em;
    font-weight: bolder;
    background-color: tomato;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    position: absolute;
    right: 5px;
}

.priceRow {
    background-color: white !important;
    border: none !important;
}

.priceRow > td {
    background-color: white !important;
    border: none !important;
    border-top: 1px solid #dee2e6 !important;
}