.card{
    overflow: hidden;
}
.card-container{
    min-width: 33%;
    max-width: 33%;
}

.card-container a {
    color: black;
    transition: 0.6s;
}

.card-container a:hover {
    color: black;
    text-decoration: none;
    /* animation: zoom 1s; */
    transition: 0.4s;
    transform: scale(1.1);
}

.product-description{
    /* white-space: nowrap; */
    display: -webkit-box;
    overflow: hidden !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
    .card-container{
        min-width: 50%;
        max-width: 50%;
    }
  }